# List all files colorized in long format
alias ll='ls -lh'

# List all files colorized in long format, including dot files
alias la='ls -lha'

# List only directories
alias lsd='ls -l | grep "^d"'

# git status shorten
alias gits='git status'

# git commit shorten
alias gitc='git commit -m'

# git diff shorten
alias gitd='git diff'

# add a `git-refresh` command
alias git-refresh='git pull && git submodule update --init --recursive'

# copy working directory
alias cwd='pwd | tr -d "\r\n" | pbcopy'

# untar
alias untar='tar xvf'

# ipython notebook
alias ipynb='jupyter notebook'

# remove untagged docker images
alias docker-rmi-untag="docker rmi $(docker images | grep "^<none>" | awk '{print $3}')"

# stop all docker containers
alias docker-stop-all='docker stop $(docker ps -q)'

# remove all docker containers
alias docker-rm-all='docker rm -f $(docker ps -a -q)'

# pretty git branch graphs
alias gitlg="git log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit"
